:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #d49466;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro';    
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
}

.navbar__logo a:hover {
    color: #00eeff;
}

.navbar__logo i {
    color: var(--accent-color);
}

.navbar__menu {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.navbar__menu li:hover {
    background-color: pink;
    border-radius: 4px;
}

.navbar__menu a:hover {
    color: rgb(3, 12, 92);
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__icons {
    color: var(--text-color);
    list-style: none;
    display: flex;
    padding-left: 0;
}

.navbar__icons li {
    padding: 8px 12px;
}

.navbar__toogleBtn {
    display: none;
    color: var(--accent-color);
    position: absolute;
    right: 32px;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        text-align: center;
        width: 100%;
    }

    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toogleBtn {
        display: block;
    }

  .navbar__menu.active,
  .navbar__icons.active {
      display: flex;
  }
}